# ===============================
# Node
# ===============================
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# ===============================
# React Native
# ===============================
.expo/
.expo-shared/
.bundle/
dist/

# ===============================
# Android
# ===============================
android/.gradle/
android/build/
android/app/build/
android/.cxx/
android/local.properties
android/app/debug.keystore
*.keystore

# ===============================
# iOS
# ===============================
ios/build/
ios/Pods/
ios/.symlinks/
ios/DerivedData/
*.xcworkspace
*.xcuserdata
*.xcuserstate

# ===============================
# Metro
# ===============================
.metro-health-check*

# ===============================
# Logs
# ===============================
*.log

# ===============================
# Environment
# ===============================
.env
.env.*

# ===============================
# OS Files
# ===============================
.DS_Store
Thumbs.db